#book{
    border: 2px solid red;
    height: 400px;
    width: 300px;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
