*{
  padding: 0;
  margin: 0;
}
#container{
  display: flex;
  height: 500px;
  width: 100%;
  justify-content:space-around;
  align-items: center;

}
#rt{
  display: flex;
  flex-direction: column;
}
